<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">

<div class="bg-gray-800 text-center text-white py-6 font-sans font-inter">
  <div class="text-3xl text-green-500 font-bold">
    <%= @user.name %>'s Dashboard
  <div>
    <%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get, class: "px-4 py-2 bg-green-400 text-gray-800 rounded hover:bg-green-500" %>
  </div>
  </div>
</div>

<div class="flex flex-wrap justify-around bg-gray-900 p-6">
  <!-- Parties I am Hosting -->
  <div id="hosted" class="w-full md:w-1/2 p-4">
    <h3 class="text-2xl font-bold mb-6 text-center text-blue-400 border-b pb-2">Parties I am Hosting</h3>
    <% @user.parties_i_am_hosting.each do |party| %>
      <div id="<%= party.id %>" class="bg-gray-800 p-5 m-2 border border-gray-700 rounded shadow-md hover:shadow-lg transition-shadow duration-300">
        <%= image_tag("https://image.tmdb.org/t/p/w500#{party.find_movie.backdrop_path}", class: "w-full rounded mb-4") %>
        <p class="font-semibold text-lg mb-2 text-white"><%= link_to party.find_movie.title, "/users/#{@user.id}/movies/#{party.find_movie.id}", class: "hover:text-green-400 transition-colors" %></p>
        <p><b>Day:</b> <%= party.day %></p>
        <p><b>Time:</b> <%= party.view_time %></p>
        <p><b>Host:</b> <%= party.find_host(@user)%></p>
        <p class="font-semibold">Guests:</p>
        <ul>
        <section id="guests">
          <% party.party_guests.each do |user| %>
            <% if user.name == @user.name %>
              <li class="font-bold">-<%= user.name %></li>
            <% else %>
              <li>-<%= user.name %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <!-- Parties I am Invited to -->
  <div id="invited" class="w-full md:w-1/2 p-4">
    <h3 class="text-2xl font-bold mb-6 text-center text-purple-400 border-b pb-2">Parties I am invited to</h3>
    <% @user.parties_i_am_invited_to.each do |party| %>
      <div id="<%= party.id %>" class="bg-gray-800 p-5 m-2 border border-gray-700 rounded shadow-md hover:shadow-lg transition-shadow duration-300">
        <%= image_tag("https://image.tmdb.org/t/p/w500#{party.find_movie.backdrop_path}", class: "w-full rounded mb-4") %>
        <p class="font-semibold text-lg mb-2 text-white"><%= link_to party.find_movie.title, "/users/#{@user.id}/movies/#{party.find_movie.id}", class: "hover:text-green-400 transition-colors" %></p>
        <p><b>Day:</b> <%= party.day %></p>
        <p><b>Time:</b> <%= party.view_time %></p>
        <p><b>Host:</b> <%= party.find_host(@user)%></p>
        <p class="font-semibold">Guests:</p>
        <ul>
        <section id="guests">
          <% party.party_guests.each do |user| %>
            <% if user.name == @user.name %>
              <li class="font-bold">-<%= user.name %></li>
            <% else %>
              <li>-<%= user.name %></li>
            <% end %>
          <% end %>
        </ul>
        </section>
      </div>
    <% end %>
  </div>
</div>