<!DOCTYPE html>
<html>
  <head>
    <title>ScreenSquad</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src = "https://cdn.tailwindcss.com"></script>
      <script>
    tailwind.config = {
      theme: {
        extend: {
          fontFamily: {
            sans: ['Inter var', ...defaultTheme.fontFamily.sans]
            'roboto': ['Roboto', 'sans-serif']
          }
        }
      }
    }
  </script>
  </head>
  <body>
  <div class="flex items-center bg-gray-500 p-4">
    <!-- Left side buttons -->
    <div class="flex-1 flex items-center space-x-4">
      <% unless current_user %>
        <%= link_to "Create New User", "/register/new", method: :get, class: "px-4 py-2 bg-green-400 text-gray-800 rounded hover:bg-green-500" %>
        <%= link_to "Log In", login_form_path, class: "px-4 py-2 bg-green-400 text-gray-800 rounded hover:bg-green-500" %>
      <% end %>
      <%= link_to "Home", "/", class: "px-4 py-2 bg-green-400 text-gray-800 rounded hover:bg-green-500" %>
    </div>
    
    <div>
      <h1 class="text-5xl text-green-500 font-bold">ScreenSquad</h1>
    </div>
    
    <!-- Right side buttons -->
    <div class="flex-1 flex items-center justify-end space-x-4 text-green-400">
      <% if current_user %>
        <p>Currently logged in as <%= current_user.email %></p>
        <%= link_to "Log out", logout_path, class: "px-4 py-2 bg-green-400 text-gray-800 rounded hover:bg-green-500" %>
      <% end %>
    </div>
  </div>

  <% flash.each do |type, msg| %>
      <div class="alert-info">
        <%= msg %>
      </div>
  <% end %>

  <%= yield %>
</body>
</html>






